@import url("https://fonts.googleapis.com/css2?family=Jost&family=Train+One&display=swap");

:root {
  --purple-color: #2e0219;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", */
  font-family: "Jost", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: larger;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.name {
  font-family: "Train One", cursive;
  font-size: 48px !important;
  margin: 20px;
  color: var(--purple-color) !important;
}

.navbar {
  justify-content: space-between !important;
  margin-bottom: 30px;
  width: 100%;
  color: var(--purple-color) !important;
}

.nav-items {
  text-align: right;
  margin-right: 20px !important;
  font-size: 24px;
}

.underlined {
  text-decoration: underline;
}

.about-container {
  margin: 20px;
  height: 80vh;
}

.about-img {
  border-radius: 50%;
  margin: 0px 50px;
}

.card {
  margin: 20px;
  width: 25rem;
  height: 35rem;
}

.card-image {
  width: 80%;
}

.button {
  margin: 5px 0px;
}

.resume-container {
  width: 50%;
  justify-content: center;
  margin: auto;
  height: 80vh;
}

.resume-contents {
  justify-content: center;
}

.space-between {
  justify-content: space-between !important;
}

.form-container {
  width: 70%;
  margin: auto;
  height: 80vh;
}

.footer {
  height: 10vh;
  background-color: var(--purple-color);
  opacity: 80%;
  color: white;
  font-size: larger;
  padding: 20px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  justify-content: space-evenly;
  text-align: center;
}

ul li {
  list-style-type: none;
  display: inline;
  margin-left: 10px;
  padding: 10px;
}

ul li:first-child {
  margin-left: 0;
}

.footer-a {
  text-decoration: none !important;
  color: white !important;
}

.footer-a:hover {
  text-decoration: underline !important;
}

.button {
  background-color: var(--purple-color) !important;
  outline: var(--purple-color) !important;
}

.button:hover {
  background-color: #70566d !important;
}
